body {
  background-color: #e2edf8;
}
.body {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
}
.first {
  width: 82.2vw;
  height: 25.375vh;
}
.hi {
  font-family: "baloo bhaijaan 2";
  height: 4.44vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5982ab;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
}
.text {
  height: 1.94vh;
  font-family: "baloo bhaijaan 2";
  font-size: 1.125rem;
  font-weight: 400;
  color: #858585;
  text-align: center;
}
.second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20rem;
  gap: 50px;
  margin: 0px 50px 0px 50px;
}
.details {
  display: flex;
  justify-content: center;
  text-align: end;
  align-items: center;
  gap: 8px;
}
.box {
  width: 15.86vw;
  height: 27.9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: linear-gradient(281.72deg, #3266e3 4.47%, #54b5a6 88.87%);
}
.text1 {
  font-family: "baloo bhaijaan 2";
  font-size: 1.875rem;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.box1 {
  width: 15.86vw;
  height: 27.9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  background: #f4f4f4;
}
.text11 {
  font-family: "baloo bhaijaan 2";
  font-size: 1.875rem;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  color: #494949;
}
.text12 {
  font-family: "baloo bhaijaan 2";
  font-size: 1.875rem;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  color: #494949;
}
.text13 {
  font-family: "baloo bhaijaan 2";
  font-size: 1.875rem;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  color: #494949;
}
.line {
  width: 13.5vw;
  height: 1px;

  border-radius: 2px 0px 0px 0px;
  background: #00000021;
}
.icon {
  width: 3.29vw;
  height: 6.07vh;
}
.title {
  font-family: "Baloo Bhaijaan 2";
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 700;
  text-align: right;
  color: #797979;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border-radius: 0px 0px 30px 30px;
  background: #d3e2f2;
}
.text2 {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Baloo Bhaijaan 2";
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  color: #5982ab;
}
span {
  text-decoration: underline;
}
.in {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  width: 42.81vw;
  height: 7.28vh;

  border: 1px solid #f3f3f3;
  border-radius: 15px;
  background: #f3f3f3;
  text-align: end;
}
.input:valid {
  border-color: green;
  font-size: 1.125rem;
  font-weight: 500;
  color: black;
  text-align: center;
  font-family: "Baloo Bhaijaan 2";
}
.input:focus:invalid {
  border-color: red;
  font-size: 18px;
  font-weight: 500;
  color: black;
  text-align: center;
  font-family: "Baloo Bhaijaan 2";
}
#icon {
  margin-right: 8rem;
  margin-left: -2.5rem;
  color: #878787;
  z-index: 3;
  font-size: 1.25rem;
}
.button {
  position: relative;

  width: 95px;
  height: 46px;
  left: 100px;
  border-radius: 25px;
  background: #5982ab;
  z-index: 2;
}
input::placeholder {
  text-align: end;
  z-index: 3;
  font-family: "Baloo Bhaijaan 2";
  font-size: 1.125rem;
  color: #b8b8b8;
}
@media screen and (max-width: 1160px) {
  .container {
    display: block;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .start {
    display: block;
  }
  .body {
    display: block;
    width: 100%;
  }
  .second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    gap: 30px;
    margin: 270px 50px 200px 50px;
  }

  .box {
    width: 248px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(281.72deg, #3266e3 4.47%, #54b5a6 88.87%);
    margin-bottom: 50px;
  }
  .box1 {
    width: 248px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    background: #f4f4f4;
  }
  .icon {
    width: 44px;
    height: 50px;
  }
  .line {
    width: 13rem;
    height: 1px;

    border-radius: 2px 0px 0px 0px;
    background: #00000021;
  }
}
@media screen and (max-width: 812px) {
  .input {
    width: 100%;
    height: 7.28vh;
    margin-left: -40px;
    margin-right: -40px;
    margin-top: 20px;
    border: 1px solid #f3f3f3;
    border-radius: 15px;
    background: #f3f3f3;
    text-align: end;
  }
  .button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60px;
    height: 36px;
    top: 10px;
    left: 30px;
    font-size: 1rem;
    border-radius: 25px;
    background: #5982ab;
    z-index: 2;
  }
  #icon {
    position: relative;
    left: 30px;
    top: 10px;
    margin-right: 5rem;
    color: #878787;
    z-index: 3;
    font-size: 1.25rem;
  }
  .icon {
    width: 44px;
    height: 50px;
  }
  .line {
    width: 13rem;
    height: 1px;

    border-radius: 2px 0px 0px 0px;
    background: #00000021;
  }
  .text2 {
    font-size: 0.77rem;
  }
}
@media screen and (max-width: 375px) {
  .input {
    width: 100%;
    height: 7.28vh;
    margin-left: -40px;
    margin-right: -40px;
    margin-top: 20px;
    border: 1px solid #f3f3f3;
    border-radius: 15px;
    background: #f3f3f3;
    text-align: end;
  }
  .button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: -10px;
    width: 60px;
    height: 36px;
    top: 10px;
    left: 10px;
    font-size: 1rem;
    border-radius: 25px;
    background: #5982ab;
    z-index: 2;
  }
  #icon {
    position: relative;
    left: 30px;
    top: 10px;
    margin-right: rem;
    color: #878787;
    z-index: 3;
    font-size: 1.25rem;
  }
  .text2 {
    font-size: 0.77rem;
  }
}
